<!doctype html>

<html lang="en">

<body>
    <h1>Welcome {first} {last}</h1>
    <p>Our MongoDB service is hosted at: https://mongo.socob.mil</p>
    <p>Your username is:  </p>
    <p>Here is a guide to show various connections to mongo via Python and R</p>
    <a href="https://cdo.sof.socds.mil/guides/mongo-examples">Mongo Examples</a>
</body>
</html>